<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AFollestad.MaterialDialogs.Core" version="0.9.6" targetFramework="monoandroid81" />
  <package id="AndroidEasingFunctions" version="2.1.0" targetFramework="monoandroid90" />
  <package id="AndroidSegmentedControl.Droid.Binding" version="1.0.8" targetFramework="monoandroid" />
  <package id="AndroidViewAnimations" version="1.1.3.0" targetFramework="monoandroid23" />
  <package id="Bolts" version="1.4.0.1" targetFramework="monoandroid403" />
  <package id="Castle.Core" version="5.1.1" targetFramework="monoandroid" />
  <package id="Com.Airbnb.Android.Lottie" version="4.2.2" targetFramework="monoandroid10.0" />
  <package id="Dynatrace.OneAgent.Xamarin" version="8.285.2" targetFramework="monoandroid11" />
  <package id="FastAndroidCamera" version="2.0.0" targetFramework="monoandroid403" />
  <package id="Microsoft.AspNetCore.WebUtilities" version="8.0.3" targetFramework="monoandroid90" />
  <package id="Microsoft.Bcl" version="1.1.10" targetFramework="monoandroid" />
  <package id="Microsoft.Bcl.Async" version="1.0.168" targetFramework="monoandroid80" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="8.0.0" targetFramework="monoandroid" />
  <package id="Microsoft.Bcl.Build" version="1.0.21" targetFramework="monoandroid80" />
  <package id="Microsoft.CSharp" version="4.7.0" targetFramework="monoandroid10" />
  <package id="Microsoft.Extensions.Primitives" version="8.0.0" targetFramework="monoandroid" />
  <package id="Microsoft.IdentityModel.Abstractions" version="7.4.0" targetFramework="monoandroid" />
  <package id="Microsoft.IdentityModel.JsonWebTokens" version="7.4.0" targetFramework="monoandroid" />
  <package id="Microsoft.IdentityModel.Logging" version="7.4.0" targetFramework="monoandroid" />
  <package id="Microsoft.IdentityModel.Tokens" version="7.4.0" targetFramework="monoandroid" />
  <package id="Microsoft.Net.Http" version="2.2.29" targetFramework="monoandroid10" />
  <package id="Microsoft.Net.Http.Headers" version="8.0.3" targetFramework="monoandroid90" />
  <package id="Microsoft.NETCore.Platforms" version="7.0.4" targetFramework="monoandroid" />
  <package id="Microsoft.Win32.Primitives" version="4.3.0" targetFramework="monoandroid10" />
  <package id="MisterJimson.Cheeseknife" version="1.1.0" targetFramework="monoandroid10" />
  <package id="NETStandard.Library" version="2.0.3" targetFramework="monoandroid" />
  <package id="Newtonsoft.Json" version="13.0.3" targetFramework="monoandroid" />
  <package id="NineOldAndroids" version="2.4.0" targetFramework="monoandroid23" />
  <package id="NSubstitute" version="5.1.0" targetFramework="monoandroid" />
  <package id="Plugin.CurrentActivity" version="2.1.0.4" targetFramework="monoandroid44" />
  <package id="Plugin.Permissions" version="6.0.1" targetFramework="monoandroid10.0" />
  <package id="Portable.BouncyCastle" version="1.9.0" targetFramework="monoandroid" />
  <package id="Refit" version="7.0.0" targetFramework="monoandroid" />
  <package id="SDP" version="1.0.0" targetFramework="monoandroid80" />
  <package id="Sitecore.MobileSDK.PasswordProvider" version="1.3.0" targetFramework="monoandroid10" />
  <package id="Sitecore.MobileSDK.Xamarin" version="1.3.0" targetFramework="monoandroid80" />
  <package id="sqlite-net-pcl" version="1.8.116" targetFramework="monoandroid" />
  <package id="SQLitePCLRaw.bundle_green" version="2.1.8" targetFramework="monoandroid90" />
  <package id="SQLitePCLRaw.core" version="2.1.8" targetFramework="monoandroid" />
  <package id="SQLitePCLRaw.lib.e_sqlite3.android" version="2.1.8" targetFramework="monoandroid90" />
  <package id="SQLitePCLRaw.provider.e_sqlite3.android" version="1.1.14" targetFramework="monoandroid" />
  <package id="Square.OkHttp" version="2.7.5.11" targetFramework="monoandroid12.0" />
  <package id="Square.OkIO" version="3.6.0.1" targetFramework="monoandroid12.0" />
  <package id="Square.Picasso" version="2.71828.0" targetFramework="monoandroid90" />
  <package id="System.AppContext" version="4.3.0" targetFramework="monoandroid10" />
  <package id="System.Buffers" version="4.5.1" targetFramework="monoandroid" />
  <package id="System.Collections" version="4.3.0" targetFramework="monoandroid10" />
  <package id="System.Collections.Concurrent" version="4.3.0" targetFramework="monoandroid10" />
  <package id="System.Collections.Specialized" version="4.3.0" targetFramework="monoandroid10" />
  <package id="System.ComponentModel" version="4.3.0" targetFramework="monoandroid10" />
  <package id="System.ComponentModel.TypeConverter" version="4.3.0" targetFramework="monoandroid10" />
  <package id="System.Console" version="4.3.1" targetFramework="monoandroid10" />
  <package id="System.Diagnostics.Contracts" version="4.3.0" targetFramework="monoandroid10" />
  <package id="System.Diagnostics.Debug" version="4.3.0" targetFramework="monoandroid10" />
  <package id="System.Diagnostics.Tools" version="4.3.0" targetFramework="monoandroid10" />
  <package id="System.Diagnostics.TraceSource" version="4.3.0" targetFramework="monoandroid10" />
  <package id="System.Diagnostics.Tracing" version="4.3.0" targetFramework="monoandroid10" />
  <package id="System.Dynamic.Runtime" version="4.3.0" targetFramework="monoandroid10" />
  <package id="System.Globalization" version="4.3.0" targetFramework="monoandroid10" />
  <package id="System.Globalization.Calendars" version="4.3.0" targetFramework="monoandroid10" />
  <package id="System.IdentityModel.Tokens.Jwt" version="7.4.0" targetFramework="monoandroid" />
  <package id="System.IO" version="4.3.0" targetFramework="monoandroid10" />
  <package id="System.IO.Compression" version="4.3.0" targetFramework="monoandroid10" />
  <package id="System.IO.Compression.ZipFile" version="4.3.0" targetFramework="monoandroid10" />
  <package id="System.IO.FileSystem" version="4.3.0" targetFramework="monoandroid10" />
  <package id="System.IO.FileSystem.Primitives" version="4.3.0" targetFramework="monoandroid10" />
  <package id="System.Json" version="4.7.1" targetFramework="monoandroid10" />
  <package id="System.Linq" version="4.3.0" targetFramework="monoandroid10" />
  <package id="System.Linq.Expressions" version="4.3.0" targetFramework="monoandroid10" />
  <package id="System.Linq.Queryable" version="4.3.0" targetFramework="monoandroid10" />
  <package id="System.Memory" version="4.5.5" targetFramework="monoandroid" />
  <package id="System.Net.Http" version="4.3.4" targetFramework="monoandroid10" />
  <package id="System.Net.Primitives" version="4.3.1" targetFramework="monoandroid90" />
  <package id="System.Net.Sockets" version="4.3.0" targetFramework="monoandroid10" />
  <package id="System.ObjectModel" version="4.3.0" targetFramework="monoandroid10" />
  <package id="System.Reflection" version="4.3.0" targetFramework="monoandroid10" />
  <package id="System.Reflection.Emit" version="4.7.0" targetFramework="monoandroid10" />
  <package id="System.Reflection.Extensions" version="4.3.0" targetFramework="monoandroid10" />
  <package id="System.Reflection.Primitives" version="4.3.0" targetFramework="monoandroid10" />
  <package id="System.Reflection.TypeExtensions" version="4.7.0" targetFramework="monoandroid10" />
  <package id="System.Resources.ResourceManager" version="4.3.0" targetFramework="monoandroid10" />
  <package id="System.Runtime" version="4.3.1" targetFramework="monoandroid10" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" targetFramework="monoandroid" />
  <package id="System.Runtime.Extensions" version="4.3.1" targetFramework="monoandroid10" />
  <package id="System.Runtime.Handles" version="4.3.0" targetFramework="monoandroid10" />
  <package id="System.Runtime.InteropServices" version="4.3.0" targetFramework="monoandroid10" />
  <package id="System.Runtime.InteropServices.RuntimeInformation" version="4.3.0" targetFramework="monoandroid10" />
  <package id="System.Runtime.Numerics" version="4.3.0" targetFramework="monoandroid10" />
  <package id="System.Runtime.Serialization.Formatters" version="4.3.0" targetFramework="monoandroid10" />
  <package id="System.Runtime.Serialization.Primitives" version="4.3.0" targetFramework="monoandroid10" />
  <package id="System.Security.Cryptography.Algorithms" version="4.3.1" targetFramework="monoandroid10" />
  <package id="System.Security.Cryptography.Cng" version="5.0.0" targetFramework="monoandroid10" />
  <package id="System.Security.Cryptography.Encoding" version="4.3.0" targetFramework="monoandroid10" />
  <package id="System.Security.Cryptography.Primitives" version="4.3.0" targetFramework="monoandroid10" />
  <package id="System.Security.Cryptography.X509Certificates" version="4.3.2" targetFramework="monoandroid10" />
  <package id="System.Text.Encoding" version="4.3.0" targetFramework="monoandroid10" />
  <package id="System.Text.Encoding.Extensions" version="4.3.0" targetFramework="monoandroid10" />
  <package id="System.Text.Encodings.Web" version="8.0.0" targetFramework="monoandroid" />
  <package id="System.Text.Json" version="8.0.3" targetFramework="monoandroid" />
  <package id="System.Text.RegularExpressions" version="4.3.1" targetFramework="monoandroid10" />
  <package id="System.Threading" version="4.3.0" targetFramework="monoandroid10" />
  <package id="System.Threading.Tasks" version="4.3.0" targetFramework="monoandroid10" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="monoandroid10" />
  <package id="System.Threading.Timer" version="4.3.0" targetFramework="monoandroid10" />
  <package id="System.Xml.ReaderWriter" version="4.3.1" targetFramework="monoandroid10" />
  <package id="System.Xml.XDocument" version="4.3.0" targetFramework="monoandroid10" />
  <package id="System.Xml.XmlDocument" version="4.3.0" targetFramework="monoandroid10" />
  <package id="WiyonoAten.SubsamplingScaleImageView.Xamarin.Android" version="3.4.1" targetFramework="monoandroid" />
  <package id="Xam.iTextSharpLGPL" version="0.1.0" targetFramework="monoandroid10" />
  <package id="Xam.Plugin.Geolocator" version="4.1.3" targetFramework="monoandroid71" />
  <package id="Xamarin.Android.Arch.Lifecycle.Common" version="1.1.1.3" targetFramework="monoandroid90" />
  <package id="Xamarin.Android.Arch.Lifecycle.LiveData" version="1.1.1.3" targetFramework="monoandroid90" />
  <package id="Xamarin.Android.Arch.Lifecycle.LiveData.Core" version="1.1.1.3" targetFramework="monoandroid90" />
  <package id="Xamarin.Android.Arch.Lifecycle.Runtime" version="1.1.1.3" targetFramework="monoandroid90" />
  <package id="Xamarin.Android.Arch.Lifecycle.ViewModel" version="1.1.1.3" targetFramework="monoandroid90" />
  <package id="Xamarin.Android.Binding.InstallReferrer" version="2.2.0" targetFramework="monoandroid10" />
  <package id="Xamarin.Android.CirclePageIndicator" version="1.0.4" targetFramework="monoandroid" />
  <package id="Xamarin.Android.Crashlytics" version="2.9.4.4" targetFramework="monoandroid60" />
  <package id="Xamarin.Android.Crashlytics.Answers" version="1.4.2.4" targetFramework="monoandroid60" />
  <package id="Xamarin.Android.Crashlytics.Beta" version="1.2.9.4" targetFramework="monoandroid60" />
  <package id="Xamarin.Android.Crashlytics.Core" version="2.6.3.4" targetFramework="monoandroid60" />
  <package id="Xamarin.Android.Fabric" version="1.4.3.4" targetFramework="monoandroid60" />
  <package id="Xamarin.Android.ShortcutBadger" version="1.1.982" targetFramework="monoandroid12.0" />
  <package id="Xamarin.Android.Support.Animated.Vector.Drawable" version="28.0.0.3" targetFramework="monoandroid90" />
  <package id="Xamarin.Android.Support.Annotations" version="28.0.0.3" targetFramework="monoandroid90" />
  <!--<package id="Xamarin.Android.Support.AsyncLayoutInflater" version="28.0.0.3" targetFramework="monoandroid90" />-->
  <package id="Xamarin.Android.Support.Collections" version="28.0.0.3" targetFramework="monoandroid90" />
  <!--<package id="Xamarin.Android.Support.Compat" version="28.0.0.3" targetFramework="monoandroid90" />-->
  <!--<package id="Xamarin.Android.Support.Constraint.Layout" version="1.1.2" targetFramework="monoandroid90" />-->
  <!--<package id="Xamarin.Android.Support.Constraint.Layout.Solver" version="1.1.2" targetFramework="monoandroid90" />-->
  <package id="Xamarin.Android.Support.CoordinaterLayout" version="28.0.0.3" targetFramework="monoandroid90" />
  <!--<package id="Xamarin.Android.Support.Core.UI" version="28.0.0.3" targetFramework="monoandroid90" />-->
  <!--<package id="Xamarin.Android.Support.Core.Utils" version="28.0.0.3" targetFramework="monoandroid90" />-->
  <!--<package id="Xamarin.Android.Support.CursorAdapter" version="28.0.0.3" targetFramework="monoandroid90" />-->
  <package id="Xamarin.Android.Support.CustomTabs" version="28.0.0.3" targetFramework="monoandroid90" />
  <!--<package id="Xamarin.Android.Support.CustomView" version="28.0.0.3" targetFramework="monoandroid90" />-->
  <package id="Xamarin.Android.Support.Design" version="28.0.0.3" targetFramework="monoandroid90" />
  <!--<package id="Xamarin.Android.Support.DocumentFile" version="28.0.0.3" targetFramework="monoandroid90" />-->
  <!--<package id="Xamarin.Android.Support.DrawerLayout" version="28.0.0.3" targetFramework="monoandroid90" />-->
  <!--<package id="Xamarin.Android.Support.Exif" version="28.0.0.3" targetFramework="monoandroid90" />-->
  <!--<package id="Xamarin.Android.Support.Fragment" version="28.0.0.3" targetFramework="monoandroid90" />-->
  <!--<package id="Xamarin.Android.Support.Interpolator" version="28.0.0.3" targetFramework="monoandroid90" />-->
  <!--<package id="Xamarin.Android.Support.Loader" version="28.0.0.3" targetFramework="monoandroid90" />-->
  <!--<package id="Xamarin.Android.Support.LocalBroadcastManager" version="28.0.0.3" targetFramework="monoandroid90" />-->
  <package id="Xamarin.Android.Support.Media.Compat" version="28.0.0.3" targetFramework="monoandroid90" />
  <!--<package id="Xamarin.Android.Support.Print" version="28.0.0.3" targetFramework="monoandroid90" />-->
  <!--<package id="Xamarin.Android.Support.SlidingPaneLayout" version="28.0.0.3" targetFramework="monoandroid90" />-->
  <!--<package id="Xamarin.Android.Support.SwipeRefreshLayout" version="28.0.0.3" targetFramework="monoandroid90" />-->
  <!--<package id="Xamarin.Android.Support.Transition" version="28.0.0.3" targetFramework="monoandroid90" />-->
  <!--<package id="Xamarin.Android.Support.v13" version="28.0.0.3" targetFramework="monoandroid90" />-->
  <!--<package id="Xamarin.Android.Support.v4" version="28.0.0.3" targetFramework="monoandroid90" />-->
  <package id="Xamarin.Android.Support.v7.AppCompat" version="28.0.0.3" targetFramework="monoandroid90" />
  <package id="Xamarin.Android.Support.v7.CardView" version="28.0.0.3" targetFramework="monoandroid90" />
  <package id="Xamarin.Android.Support.v7.MediaRouter" version="28.0.0.3" targetFramework="monoandroid90" />
  <package id="Xamarin.Android.Support.v7.Palette" version="28.0.0.3" targetFramework="monoandroid90" />
  <package id="Xamarin.Android.Support.v7.RecyclerView" version="28.0.0.3" targetFramework="monoandroid90" />
  <!--<package id="Xamarin.Android.Support.Vector.Drawable" version="28.0.0.3" targetFramework="monoandroid90" />-->
  <!--<package id="Xamarin.Android.Support.VersionedParcelable" version="28.0.0.3" targetFramework="monoandroid90" />-->
  <!--<package id="Xamarin.Android.Support.ViewPager" version="28.0.0.3" targetFramework="monoandroid90" />-->
  <package id="Xamarin.AndroidSwipeLayout" version="1.2.0.2" targetFramework="monoandroid403" />
	<package id="Xamarin.AndroidX.Activity" version="1.8.2.1" targetFramework="monoandroid12.0" />
	<package id="Xamarin.AndroidX.Annotation" version="1.7.1.1" targetFramework="monoandroid12.0" />
	<package id="Xamarin.AndroidX.Annotation.Experimental" version="1.4.0.1" targetFramework="monoandroid12.0" />
	<package id="Xamarin.AndroidX.AppCompat" version="1.6.1.7" targetFramework="monoandroid12.0" />
	<package id="Xamarin.AndroidX.AppCompat.AppCompatResources" version="1.6.1.8" targetFramework="monoandroid12.0" />
	<package id="Xamarin.AndroidX.Arch.Core.Common" version="2.2.0.7" targetFramework="monoandroid12.0" />
	<package id="Xamarin.AndroidX.Arch.Core.Runtime" version="2.2.0.7" targetFramework="monoandroid12.0" />
	<package id="Xamarin.AndroidX.AsyncLayoutInflater" version="1.0.0.23" targetFramework="monoandroid12.0" />
	<package id="Xamarin.AndroidX.Browser" version="1.7.0.2" targetFramework="monoandroid12.0" />
	<package id="Xamarin.AndroidX.CardView" version="1.0.0.25" targetFramework="monoandroid12.0" />
	<package id="Xamarin.AndroidX.Collection" version="1.4.0.1" targetFramework="monoandroid12.0" />
	<package id="Xamarin.AndroidX.ConstraintLayout" version="2.1.4.10" targetFramework="monoandroid12.0" />
	<package id="Xamarin.AndroidX.ConstraintLayout.Solver" version="2.0.4.18" targetFramework="monoandroid12.0" />
	<package id="Xamarin.AndroidX.CoordinatorLayout" version="1.2.0.11" targetFramework="monoandroid12.0" />
	<package id="Xamarin.AndroidX.Core" version="1.12.0.4" targetFramework="monoandroid12.0" />
	<package id="Xamarin.AndroidX.CursorAdapter" version="1.0.0.23" targetFramework="monoandroid12.0" />
	<package id="Xamarin.AndroidX.CustomView" version="1.1.0.22" targetFramework="monoandroid12.0" />
	<package id="Xamarin.AndroidX.DocumentFile" version="1.0.1.23" targetFramework="monoandroid12.0" />
	<package id="Xamarin.AndroidX.DrawerLayout" version="1.2.0.7" targetFramework="monoandroid12.0" />
	<package id="Xamarin.AndroidX.DynamicAnimation" version="1.0.0.23" targetFramework="monoandroid12.0" />
	<package id="Xamarin.AndroidX.ExifInterface" version="1.3.7.1" targetFramework="monoandroid12.0" />
	<package id="Xamarin.AndroidX.Fragment" version="1.6.2.2" targetFramework="monoandroid12.0" />
	<package id="Xamarin.AndroidX.Interpolator" version="1.0.0.23" targetFramework="monoandroid12.0" />
	<package id="Xamarin.AndroidX.Legacy.Support.Core.UI" version="1.0.0.24" targetFramework="monoandroid12.0" />
	<package id="Xamarin.AndroidX.Legacy.Support.Core.Utils" version="1.0.0.23" targetFramework="monoandroid12.0" />
	<package id="Xamarin.AndroidX.Legacy.Support.V13" version="1.0.0.23" targetFramework="monoandroid12.0" />
	<package id="Xamarin.AndroidX.Legacy.Support.V4" version="1.0.0.23" targetFramework="monoandroid12.0" />
	<package id="Xamarin.AndroidX.Lifecycle.Common" version="2.7.0.1" targetFramework="monoandroid12.0" />
	<package id="Xamarin.AndroidX.Lifecycle.LiveData" version="2.7.0.1" targetFramework="monoandroid12.0" />
	<package id="Xamarin.AndroidX.Lifecycle.LiveData.Core" version="2.7.0.1" targetFramework="monoandroid12.0" />
	<package id="Xamarin.AndroidX.Lifecycle.Runtime" version="2.7.0.1" targetFramework="monoandroid12.0" />
	<package id="Xamarin.AndroidX.Lifecycle.ViewModel" version="2.7.0.1" targetFramework="monoandroid12.0" />
	<package id="Xamarin.AndroidX.Lifecycle.ViewModelSavedState" version="2.7.0.1" targetFramework="monoandroid12.0" />
	<package id="Xamarin.AndroidX.Loader" version="1.1.0.23" targetFramework="monoandroid12.0" />
	<package id="Xamarin.AndroidX.LocalBroadcastManager" version="1.1.0.11" targetFramework="monoandroid12.0" />
	<package id="Xamarin.AndroidX.Media" version="1.7.0.1" targetFramework="monoandroid12.0" />
	<package id="Xamarin.AndroidX.MediaRouter" version="1.6.0.3" targetFramework="monoandroid12.0" />
	<package id="Xamarin.AndroidX.Migration" version="1.0.10" targetFramework="monoandroid12.0" />
	<package id="Xamarin.AndroidX.MultiDex" version="2.0.1.23" targetFramework="monoandroid12.0" />
	<package id="Xamarin.AndroidX.Palette" version="1.0.0.23" targetFramework="monoandroid12.0" />
	<package id="Xamarin.AndroidX.Print" version="1.0.0.23" targetFramework="monoandroid12.0" />
	<package id="Xamarin.AndroidX.RecyclerView" version="1.3.2.2" targetFramework="monoandroid12.0" />
	<package id="Xamarin.AndroidX.SavedState" version="1.2.1.7" targetFramework="monoandroid12.0" />
	<package id="Xamarin.AndroidX.SlidingPaneLayout" version="1.2.0.11" targetFramework="monoandroid12.0" />
	<package id="Xamarin.AndroidX.SwipeRefreshLayout" version="1.1.0.18" targetFramework="monoandroid12.0" />
	<package id="Xamarin.AndroidX.Transition" version="1.4.1.16" targetFramework="monoandroid12.0" />
	<package id="Xamarin.AndroidX.VectorDrawable" version="1.1.0.23" targetFramework="monoandroid12.0" />
	<package id="Xamarin.AndroidX.VectorDrawable.Animated" version="1.1.0.23" targetFramework="monoandroid12.0" />
	<package id="Xamarin.AndroidX.VersionedParcelable" version="1.2.0.1" targetFramework="monoandroid12.0" />
	<package id="Xamarin.AndroidX.ViewPager" version="1.0.0.23" targetFramework="monoandroid12.0" />
	<package id="Xamarin.AndroidX.ViewPager2" version="1.0.0.25" targetFramework="monoandroid12.0" />
	<package id="Xamarin.AndroidX.WebKit" version="1.10.0.1" targetFramework="monoandroid12.0" />
	<package id="Xamarin.Build.Download" version="0.11.4" targetFramework="monoandroid12.0" />
	<package id="Xamarin.CardIO.Android" version="5.5.1" targetFramework="monoandroid403" />
	<package id="Xamarin.Essentials" version="1.8.1" targetFramework="monoandroid13.0" />
	<package id="Xamarin.Facebook.Android" version="11.2.0.1" targetFramework="monoandroid90" />
	<package id="Xamarin.Facebook.AppLinks.Android" version="11.2.0.1" targetFramework="monoandroid90" />
	<package id="Xamarin.Facebook.Common.Android" version="11.2.0.1" targetFramework="monoandroid90" />
	<package id="Xamarin.Facebook.Core.Android" version="11.2.0.1" targetFramework="monoandroid90" />
	<package id="Xamarin.Facebook.GamingServices.Android" version="11.2.0.1" targetFramework="monoandroid90" />
	<package id="Xamarin.Facebook.Login.Android" version="11.2.0.1" targetFramework="monoandroid90" />
	<package id="Xamarin.Facebook.Messenger.Android" version="11.2.0.1" targetFramework="monoandroid90" />
	<package id="Xamarin.Facebook.Share.Android" version="11.2.0.1" targetFramework="monoandroid90" />
	<package id="Xamarin.Facebook.Shimmer" version="1.0.0" targetFramework="monoandroid10" />
	<package id="Xamarin.Firebase.Analytics" version="121.3.0.4" targetFramework="monoandroid12.0" />
	<package id="Xamarin.Firebase.Annotations" version="116.2.0.5" targetFramework="monoandroid12.0" />
	<package id="Xamarin.Firebase.Auth" version="122.2.0.1" targetFramework="monoandroid12.0" />
	<package id="Xamarin.Firebase.Auth.Interop" version="120.0.0.13" targetFramework="monoandroid12.0" />
	<package id="Xamarin.Firebase.Common" version="120.4.2.1" targetFramework="monoandroid12.0" />
	<package id="Xamarin.Firebase.Components" version="117.1.5.1" targetFramework="monoandroid12.0" />
	<package id="Xamarin.Firebase.Core" version="121.1.1.6" targetFramework="monoandroid12.0" />	
	<package id="Xamarin.Firebase.Datatransport" version="118.2.0.3" targetFramework="monoandroid12.0" />
	<package id="Xamarin.Firebase.Dynamic.Links" version="121.2.0.1" targetFramework="monoandroid12.0" />
	<package id="Xamarin.Firebase.Iid" version="121.1.0.13" targetFramework="monoandroid12.0" />
	<package id="Xamarin.Firebase.Iid.Interop" version="117.1.0.13" targetFramework="monoandroid12.0" />
	<package id="Xamarin.Firebase.Installations" version="117.2.0.1" targetFramework="monoandroid12.0" />
	<package id="Xamarin.Firebase.Installations.InterOp" version="117.2.0.1" targetFramework="monoandroid12.0" />
	<package id="Xamarin.Firebase.Measurement.Connector" version="120.0.1.1" targetFramework="monoandroid12.0" />
	<package id="Xamarin.Firebase.Messaging" version="123.3.1.1" targetFramework="monoandroid12.0" />
	<package id="Xamarin.Google.Android.DataTransport.TransportApi" version="3.0.0.10" targetFramework="monoandroid12.0" />
	<package id="Xamarin.Google.Android.DataTransport.TransportBackendCct" version="3.1.9.4" targetFramework="monoandroid12.0" />
	<package id="Xamarin.Google.Android.DataTransport.TransportRuntime" version="3.1.9.4" targetFramework="monoandroid12.0" />
	<package id="Xamarin.Google.Android.Material" version="1.10.0.3" targetFramework="monoandroid12.0" />
	<package id="Xamarin.Google.AutoValue.Annotations" version="1.10.4.3" targetFramework="monoandroid12.0" />
	<package id="Xamarin.Google.Dagger" version="2.48.1.1" targetFramework="monoandroid12.0" />
	<package id="Xamarin.Google.Guava.ListenableFuture" version="1.0.0.18" targetFramework="monoandroid12.0" />
	<package id="Xamarin.Google.ZXing.Core" version="3.5.2.2" targetFramework="monoandroid12.0" />
	<package id="Xamarin.GooglePlayServices.Ads.Identifier" version="118.0.1.8" targetFramework="monoandroid12.0" />
	<package id="Xamarin.GooglePlayServices.Auth" version="120.7.0.2" targetFramework="monoandroid12.0" />
	<package id="Xamarin.GooglePlayServices.Auth.Api.Phone" version="118.0.1.8" targetFramework="monoandroid12.0" />
	<package id="Xamarin.GooglePlayServices.Auth.Base" version="118.0.10.2" targetFramework="monoandroid12.0" />
	<package id="Xamarin.GooglePlayServices.Base" version="118.2.0.5" targetFramework="monoandroid12.0" />
	<package id="Xamarin.GooglePlayServices.Basement" version="118.2.0.5" targetFramework="monoandroid12.0" />
	<package id="Xamarin.GooglePlayServices.CloudMessaging" version="117.0.2.8" targetFramework="monoandroid12.0" />
	<package id="Xamarin.GooglePlayServices.Flags" version="118.0.1.11" targetFramework="monoandroid12.0" />
	<package id="Xamarin.GooglePlayServices.Gcm" version="117.0.0.13" targetFramework="monoandroid12.0" />
	<package id="Xamarin.GooglePlayServices.Identity" version="118.0.1.8" targetFramework="monoandroid12.0" />
	<package id="Xamarin.GooglePlayServices.Iid" version="117.0.0.13" targetFramework="monoandroid12.0" />
	<package id="Xamarin.GooglePlayServices.Location" version="121.0.1.4" targetFramework="monoandroid12.0" />
	<package id="Xamarin.GooglePlayServices.Maps" version="118.2.0.1" targetFramework="monoandroid12.0" />
	<package id="Xamarin.GooglePlayServices.Measurement" version="121.3.0.4" targetFramework="monoandroid12.0" />
	<package id="Xamarin.GooglePlayServices.Measurement.Api" version="121.3.0.4" targetFramework="monoandroid12.0" />
	<package id="Xamarin.GooglePlayServices.Measurement.Base" version="121.3.0.4" targetFramework="monoandroid12.0" />
	<package id="Xamarin.GooglePlayServices.Measurement.Impl" version="121.3.0.4" targetFramework="monoandroid12.0" />
	<package id="Xamarin.GooglePlayServices.Measurement.Sdk" version="121.3.0.4" targetFramework="monoandroid12.0" />
	<package id="Xamarin.GooglePlayServices.Measurement.Sdk.Api" version="121.3.0.4" targetFramework="monoandroid12.0" />
	<package id="Xamarin.GooglePlayServices.Places.PlaceReport" version="117.0.0.13" targetFramework="monoandroid12.0" />
	<package id="Xamarin.GooglePlayServices.SafetyNet" version="118.0.1.8" targetFramework="monoandroid12.0" />
	<package id="Xamarin.GooglePlayServices.Stats" version="117.0.3.8" targetFramework="monoandroid12.0" />
	<package id="Xamarin.GooglePlayServices.Tasks" version="118.0.2.6" targetFramework="monoandroid12.0" />
	<package id="Xamarin.JavaX.Inject" version="1.0.0.11" targetFramework="monoandroid12.0" />
	<package id="Xamarin.Jetbrains.Annotations" version="24.1.0.2" targetFramework="monoandroid12.0" />
	<package id="Xamarin.Kotlin.StdLib" version="1.9.23" targetFramework="monoandroid12.0" />
	<package id="Xamarin.Kotlin.StdLib.Common" version="1.9.23" targetFramework="monoandroid12.0" />
	<package id="Xamarin.Kotlin.StdLib.Jdk7" version="1.9.23" targetFramework="monoandroid12.0" />
	<package id="Xamarin.Kotlin.StdLib.Jdk8" version="1.9.23" targetFramework="monoandroid12.0" />
	<package id="ZhangHai.Android.MaterialProgressBar" version="1.4.2" targetFramework="monoandroid80" />
	<package id="ZXing.Net.Mobile" version="2.4.1" targetFramework="monoandroid71" />
</packages>