<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>8169936982-t6f46r40ca5so74qvvsv842svsf858a2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.8169936982-t6f46r40ca5so74qvvsv842svsf858a2</string>
	<key>API_KEY</key>
	<string>AIzaSyCHLAVq7JFs_wdfntUIAVyLhsSLBl5rb2I</string>
	<key>GCM_SENDER_ID</key>
	<string>8169936982</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mytnb.mytnb</string>
	<key>PROJECT_ID</key>
	<string>mytnb-sit</string>
	<key>STORAGE_BUCKET</key>
	<string>mytnb-sit.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:8169936982:ios:4f17ac8eff301f0e</string>
	<key>DATABASE_URL</key>
	<string>https://mytnb-sit.firebaseio.com</string>
</dict>
</plist>
