<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleShortVersionString</key>
	<string>2.2.2</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>MinimumOSVersion</key>
	<string>9.0</string>
	<key>UIDeviceFamily</key>
	<array>
		<integer>1</integer>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Onboarding</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv6</string>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>XSAppIconAssets</key>
	<string>Assets/Assets.xcassets/AppIcon.appiconset</string>
	<key>UIAppFonts</key>
	<array>
		<string>Fonts/MuseoSans_500.otf</string>
		<string>Fonts/MuseoSans-300.otf</string>
		<string>Fonts/MuseoSans-300Italic.otf</string>
	</array>
	<key>NSCameraUsageDescription</key>
	<string>Enable myTNB to access your camera roll to upload photos and save ones you’ve taken with the app.</string>
	<key>CFBundleName</key>
	<string>myTNB</string>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleLightContent</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Enable myTNB to access your camera roll to upload photos and save ones you’ve taken with the app.</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>mytnbapp</string>
				<string>fb1820273008266041</string>
				<string>mytnbappsit.page.link</string>
				<string>mytnbapp.page.link</string>
			</array>
			<key>CFBundleURLName</key>
			<string>com.mytnb.mytnb</string>
		</dict>
	</array>
	<key>FacebookAppID</key>
	<string>1820273008266041</string>
	<key>FacebookDisplayName</key>
	<string>myTNB</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>mytnbapp://</string>
		<string>maps</string>
		<string>comgooglemaps</string>
		<string>waze</string>
		<string>fbapi</string>
		<string>fb-messenger-share-api</string>
		<string>fbauth2</string>
		<string>fbshareextension</string>
	</array>
	<key>CFBundleIdentifier</key>
	<string>com.mytnb.mytnb</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Your current location may be used 
to find Kedai Tenaga nearby.</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>Your current location may be used 
to find Kedai Tenaga nearby.</string>
	<key>NSLocationUsageDescription</key>
	<string>Your current location may be used 
to find Kedai Tenaga nearby.</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<false/>
		<key>NSAllowsArbitraryLoadsInWebContent</key>
		<true/>
	</dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleLocalizations</key>
	<array>
		<string>en</string>
	</array>
	<key>CFBundleDisplayName</key>
	<string>myTNB</string>
	<key>UIUserInterfaceStyle</key>
	<string>Light</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>CFBundleVersion</key>
	<string>17</string>
</dict>
</plist>
